@import '../../../../styles/settings.scss';

.settings {
    padding: 130px 0 80px;

    &__inner {
        background-color: #FFF;
        padding: 40px 50px;
        max-width: 1000px;
        margin: 0 auto;
    }

    &__content {
        display: flex;
        align-items: center;

    }

    &__userCropper {

        height: 100%;
        width: 40%;
        height: 520px;
    }
}