@import '../../../../styles/settings.scss';

.headerUserModal {
    position: fixed;
    z-index: 10;
    top: 0;
    right: 0;
    bottom: 0;
    max-width: 320px;
    width: 100%;
    background-color: #FFF;
    box-shadow: -1px 1px 5px #000;

    &__inner {
        padding: 20px 25px 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        overflow-y: auto;
    }

    &__close {
        width: 30px;
        height: 30px;
        flex-shrink: 0;
    }

    &__imageBox {
        position: relative;
        max-width: 220px;
        width: 100%;
        margin: 0 auto;
        margin-top: 15px;

    }

    &__image {

        height: auto;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 50%;
        overflow: hidden;
        background-color: $secondary-color;
    }


    &__level {
        text-align: center;
        font-size: 16px;
        font-weight: 400;
        padding-top: 2px;
    }

    &__content {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 7px;
        gap: 7px;
        flex-grow: 1;
    }

    &__name {
        font-size: 22px;
        margin-top: 10px;
        text-align: center;
        font-weight: 500;
        color: $text-color;
        line-height: 1.2em;
    }

    &__navItem,
    &__navLink,
    &__navButton {
        font-size: 18px;
        font-weight: 500;
        padding: 3px 0;
        line-height: 1.2em;
        width: 100%;
        text-align: center;
        color: $title-color;
    }

    &__navItem {
        color: $text-color;
        font-weight: 400;
    }

    &__navLink {
        transition: color .2s ease-in-out;
        @media (hover: hover) {
            &:hover {
                color: $active-color;
            }

        }

        @media (hover: none) {
            &:active {
                color: $active-color;
            }
        }
    }


    &__navButton {
        border: none;
        background-color: transparent;
    }

    &__qrBox{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding-top: 10px;
    }
    &__qrText{
        font-size: 16px;
        font-weight: 500;
    }
}