/client/node_modules
/server/node_modules

/client/package-lock.json
/server/static/*.*
/server/.env
/server/package-lock.json
*.env

.env.local
.env.development.local
.env.test.local
.env.production.local
