@import '../../../../styles/settings.scss';

.workImageCropper {
    position: relative;
    border: 1px solid $neutral-color;
    background-color: $secondary-color;
    padding: 5px;

    &>img {
        display: block;
        height: calc(100% - 35px);
        width: calc(100% - 10px);
        object-fit: contain;
        position: absolute;
        top: 5px;
        right: 0;
        left: 5px;
        pointer-events: none;
    }
    &__delete{
        position: absolute;
        top: 10px;
        right: 10px;
        width: 25px;
        height: 25px;
        background-color: #FFF;
    }
    &__cropper {
        position: relative;
        top: 4px;
        left: 4px;
        right: 4px;
        bottom: 4px;
        width: 100%;
        height: 100%;
    }

    &__preview {
        border: none !important;
        background-color: transparent !important;
        padding: 0 !important;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end !important;
    }
}