@import '../../../../styles/settings.scss';

.header {
    position: relative;
    z-index: 99;
    &__banner {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 10px 20px;
        background-color: $neutral-color;
        transition: opacity 0.3s ease;
        &_hidden {
           opacity: 0;
        }
    }

    &__bannerText {
        text-align: center;
        color: $primary-color;
        text-transform: uppercase;
        letter-spacing: 2px;
    }

    &__navigation {
        position: fixed;
        transition: top 0.3s ease;
        top: 38px;
        left: 0;
        right: 0;
        z-index: 999;
        padding: 12px 0px;
        background-color: #FFF;
        border-bottom: 1px solid rgba($neutral-color, .2);
        &_upper{
            top: 0;
        }
    }

    &__navigationInner {
        max-width: $container-width;
        width: 100%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 10px;
    }

    &__logo {
        width: 225px;
        font-family: 'GrandHotel' !important;
        font-size: 40px !important;
        line-height: 0 !important;
        color: $title-color !important;
    }

    &__navigationLinks {
        display: flex;
        flex-wrap: wrap;
    }

    &__link {
        padding: 5px 8px;
        margin: 0px 7px;
    }
    &__buttons{
        align-items: center;
        display: flex;
    }
    &__button {
        width: 225px;
    }
}