@import '../../../../styles/settings.scss';

.reviewsSection {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 100vh;
    min-height: 100dvh;
    max-width: $container-width;
    margin: 0 auto;
    &::before {
        content: '';
        position: absolute;
        background-color: $neutral-color;
        height: 100%;
        width: 100vw;
        top: 0;
        bottom: 0;
        right: 100%;
    }

    &__list {
        padding-top: 130px;
        padding-bottom: 40px;
        display: flex;
        margin-left: 40px;
        padding-right: 20px;
        flex-direction: column;
        gap: 20px;
    }
    &__review{
        background-color: #FFF;
        border: 2px solid #FFF;
        box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
        &_selected{
            border: 2px solid $active-color;
        }
    }
}